//  노멀라이징
body , ul , li {
  margin: 0; padding: 0;
  list-style: none;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
  padding: 0;
}
// 공통사항 
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  background: none;
  border: none;
}